$color-white1: #fff;
$color-white2: #dadde0;
$color-white3: #f7f7f7;
$color-white4: #f6f7f9;

$color-gray1: #b2b8be;
$color-gray2: #757d86;
$color-gray3: #c9cdd2;
$color-gray4: #3a3e45;
$color-gray5: #f0f1f4;
$color-gray6: #50585f;
$color-gray7: #99a1a8;
$color-gray8: #eee;


$color-black1: #131518;
$color-black2: #000;

$color-red1: #ff5753;

$color-pink1: #e95294;

$color-green1: #82dc28;

$color-navi1:#181a2d;

