// prd
.prd{
    .desc{
        @include ellipse(2);
        font-size: 13px;
        line-height: 16px;
        white-space: normal;
    }
    .ori{
        display: block;
        order: -1;
        margin-bottom: 1px;
        font-size: 11px;
        line-height: 13px;
        color: $color-gray1;
        text-decoration: line-through;
    }
    .sale{
        font-weight: 700;
        line-height: 17px;
        margin-right: 4px;
        color: $color-red1;
    }
    .curr{
        font-weight: 700;
        line-height: 17px;
    }
    .badge-area{
        display: flex;
        align-items: center;
        height: 17px;
        margin-left: -4px;
        overflow: hidden;
        border-radius: 2px;
    }
    [class*="badge"]{
        border-radius: 2px;
        padding: 4px;
        font-size: 10px;
        line-height: 12px;
    }
    .badge1{
        background-color: $color-red1;
        color: $color-white1;
    }
    .badge2{
        background-color: $color-gray5;
        color:$color-pink1;
    }
    .badge3, .badge4, .badge5, .badge6, .badge7, .badge8{
        background-color: $color-gray5;
        color: $color-gray6;
    }
    .review-area{
        svg{
            width: 9px;
            height: 9px;
            margin-right: 4px;
            transform: translateY(.5px);
            stroke: $color-gray7;
            fill: $color-gray7;
        }
        path{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .score, .review{
            font-size: 11px;
            line-height: 13px;
        }
        .review{
            margin-left: 2px;
        }
    }
    .btn-heart, .btn-cart{
        width: 36px;
        height: 36px;
        stroke: $color-gray1;
    }
}

// list1
.list1{
    a{
        display: block;
        width: 140px;
        height: auto;
    }
    .img-area{
        position: relative;
        padding-bottom: 100%;
        overflow: hidden;
        border-radius: 4px;
        background-color: $color-white3;
        margin-bottom: 14px;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .text-area{
        width: 140px;
        height: 32px;
        margin-bottom: 8px;
    }
    .badge-area{
        display: flex;
        gap: 4px;
        margin-top: 10px;
    }
    .review-area{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow: hidden;
        height: 13px;
        margin-top: 12px;
        color: rgb(153, 161, 168);
    }
    .icon-area{
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: 28px;
        svg{
            position: absolute;
            bottom: 0;
        }
    }
}

// list2
.list2{
    .cont-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }
   a{
        position: relative; 
        display: flex;
        align-items: center;
        width: 100%;
   }
   .img-wrap{
        position: relative;
        width: 105px;
        height: 105px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            background-color: rgb(0, 0, 0);
            z-index: 2;
        }
        .rank{
            font-size: 12px;
            font-weight: 700;
            line-height: 14px;
            color: rgb(255, 255, 255);
        }
   }
   .desc-wrap{
        width: calc(100% - 180px);
       padding-left: 15px;
    }
    .text-box{
        width: 100%;
        .desc{
            line-height: 16.5px;
            color: rgb(19, 21, 24);
            margin-bottom: 5px;
        }
   }
   .price-box{
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-bottom: 8px;
   }
   .badge-box{
        margin-left: -4px;
   }
   .icon-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25px;
        right: 26px;
        width: 36px;
   }
   svg{
        display: block;
        width: 100%;
   }
}

